body
{
    background-color: #1a1e1e;
    color: white;
}
h1
{
    color: red;
}
#nag
{
    text-decoration: underline;
}
.choinka
{
    text-align: center;
    color: green;
}
#tabela1, th, td{
    border: 1px solid aqua;
    width: 400px;
    text-align: center;
}
table{
    border-collapse:collapse;
}